<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-map">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{'Nav.MainMap' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'Nav.Settings' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userCommunication.canAccessModoZone()" tab="admin">
      <ion-icon name="terminal"></ion-icon>
      <ion-label>{{'Nav.Admin' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>